{% extends 'main/base.html' %}

{% load static %}

{% block title %}Lacomka{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">Магазин лакомств для животных</h1>
            <h5 class="mb-3 text-muted">Лакомка</h5>
            <p>Мы — магазин, специализирующийся на продаже вкусных и полезных лакомств для домашних питомцев. У нас вы найдёте широкий ассортимент угощений для собак и кошек, чтобы порадовать вашего любимца каждый день!</p>
        </div>
    </div>
</div>
{% endblock %}